body, html{
    background-color: white;
    font-family: Lato, sans-serif;
    margin: 0;
    margin-top: -11px;
    padding: 0;
    overflow-x: hidden;
}



   
.inicio{
    background-image: url('./images/Untitled-1\ 1.png');
    background-size: cover;
    background-position: top; /* Alinea la imagen en la parte superior */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.imagenes-fondo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}
.imagenes-fondo img{
   width: 100%;
   z-index: 0;
}

.imagenes-heroes {
    display: flex;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#heroe-1{
    transform: translate(10%, 68%); 
}
#heroe-2{
    transform: translate(5%, 72%);  
}
#heroe-3{
    transform: translate(-38%, 51%);  
}
.imagen-presentacion {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: fixed;
    z-index: 2;
   
}

.imagenes-efecto{
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
}
#efecto-1{
    transform: translate(-29.6%, 49%);  
}
#efecto-2{
    transform: translate(43.5%, 22%) rotate(-14deg); 
}
#img-violeta{
    width: 100%;
    margin-top: -92px;
    position: absolute;
}

/*NAVBAR*/
header{
    position: fixed;
    height: 160px;
    background: rgb(78,148,243);
    background: linear-gradient(90deg, rgba(78,148,243,1) 0%, rgba(78,151,246,1) 50%, rgba(87,152,246,1) 100%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 3;
}
#btn-comprar{
    height: 52px;
    position: fixed;
    right: 166px;
    letter-spacing: -0.05em;
    margin-top: 50px;
    background-color: #FFE901; /* Color de fondo del botón */
    color: #02187e; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: 5px solid #2982FF; /* Borde grueso de color #2982FF */
    border-radius: 20px; /* Bordes redondos */
    cursor: pointer;
    font-size: 20px; /* Tamaño del texto */
    font-weight: 900; /* Texto en negrita */
    line-height: 19px; /* Altura de línea */
    letter-spacing: 0em;
    text-align: left; /* Alineación del texto */
    box-shadow: 4px 4px 0px #02187e; /* Sombra abajo y a la izquierda */
    z-index: 3;
}
    

.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 8px;
    left: 176px;
    z-index: 3;
}
.line-1-cross {
    opacity: 0; /* Hace que la tercera línea desaparezca */
    transform: rotate(-45deg) translate(5px, -5px);
   
}

.line-2-cross {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #2982FF!important; 
    box-shadow: none!important;
   
}

.line-3-cross {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #2982FF!important; 
    box-shadow: none!important;
 
}

.line {
    width: 40px;
    height: 5px;
    background-color: #FFE901; 
    border-radius: 20px; /* Bordes redondos */
    border: 3px solid #2982FF;
    box-shadow: 4px 4px 0px #02187e; /* Sombra abajo y a la izquierda */
    margin: 0px 0;
    transition: transform 0.5s;
    top: 20px;
    position: relative;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #FFE901;
    padding-top: 60px;
    transition: left 0.5s;
}
.menu-image {
    display: none;

}

.menu.show .menu-image {
    display: block;
    width: 120px;
    margin-left: 18px;
    margin-top: -35px;
}

.menu li {
    margin-top: 15px;
    list-style: none;
    font-weight:bolder;
    color: #02187e;
    font-size: 25px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.menu.show {
    left: 0;
    z-index: 2;
}

.menu.show li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}