@media (min-width: 769px) {
  
body{
  background-color: white;
  font-family:Poppins;
}

nav {
background-color: black; 
color: #ADFF45;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 9px;
}

.logo a {
text-decoration: none; 
color: inherit; 

}

.logo {
display: flex;
align-items: center;
}

.logo img {
width: 50px;
height: 50px;
}

.logo-text {
display: flex;
flex-direction: column;
font-size: 14px;
}

.logo-text div {
line-height: 1;
}

.search input {
border: none;
padding: 5px; 
background-color: #ADFF45;
color: black;
width: 300px;
}

.links {
list-style-type: none;
display: flex;
margin: 0;
padding: 0;
}

.links li {
margin-right: 20px; /* Espacio entre los enlaces */
}

.links a {
text-decoration: none;
color: white; 
font-weight: bold;
}
.links select{
background-color: black;
border: 0px;
color: white;
}

.links select:hover{
color: #ADFF45;
}

.links a:hover {
color: #ADFF45; /* Estilo de resaltado al pasar el mouse sobre los enlaces */
}
.buy-button {
background-color: #ADFF45; /* Color de fondo predeterminado */
color: black;
border: none;
border-radius: 7px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s; /* Transición suave de color de fondo */
}

.buy-button:hover {
background-color: #FF9900; /* Cambia el color de fondo al pasar el mouse */
}
.menu-icon {
cursor: pointer;
font-size: 24px;
margin-top: 10px;
transition: color 0.3s; /* Transición suave del color del icono */
}

.menu-icon:hover {
color: #FF9900; /* Cambia el color del icono al pasar el mouse */
}

.menu {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #333;
position: absolute;
top: 50px;
right: 0;
display: none;
}

.menu li {
margin: 0;
padding: 0;
text-align: center;
}

.menu a {
display: block;
padding: 10px 20px;
text-decoration: none;
color: white;
}

.menu a:hover {
background-color: #444;
}
.menu-icon :hover{
color: #FF9900;
}

#menu-checkbox:checked + .menu-icon + .menu {
display: block;
}

.menu-checkbox {
display: none;
}


}




